/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#tyre-listings .inside,
#wheel-listings .inside {
    margin-top: 20px;
}

.dataTables_processing {
    background: rgba(0, 0, 0, 0.5) !important;
    width: 80px !important;
    color: #fff !important;
    border-radius: 6px;
    height: auto;
    padding: 15px !important;
    left: auto !important;
    right: 50% !important;
    margin-right: 20px;
}

.dataTables_wrapper .dataTables_processing {
    height: 45px !important;
}

.dataTables_wrapper .dataTables_length select {
    padding-right: 20px !important;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    text-align: left;
}

table.dataTable td.details-control {
    text-align: right;
}

table.dataTable pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

#TB_window .tb-modal-footer {
    position: absolute;
    bottom: 0;
    right: 15px;
}

#TB_window .tb-modal-content .spinner {
    visibility: visible;
    float: none;
    margin-top: -4px;
}
.dataTable-loader {
    display: inline-block;
    width: 19px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
            radial-gradient(farthest-side,#000000 94%,#0000) top/4px 4px no-repeat,
            conic-gradient(#0000 30%,#000000);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{
    100%{transform: rotate(1turn)}
}

/* New version styling */
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
    right: auto;
    left: 8px;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc,
table.dataTable thead > tr > td.dt-orderable-asc, table.dataTable thead > tr > td.dt-orderable-desc,
table.dataTable thead > tr > td.dt-ordering-asc, table.dataTable thead > tr > td.dt-ordering-desc {
    padding-left: 21px;
    padding-right: 10px;
}

div.dt-processing > div {
    display: none;
}

div.dt-container .dt-length select.dt-input {
    padding-right: 15px;
}

table.dataTable th.dt-empty,
table.dataTable td.dt-empty {
    text-align: left !important;
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: left !important;
}
